<link
  rel="stylesheet"
  href="https://unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/github.min.css"
/>

<ng-template #suggestionItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #suggestionSelectionTemplate let-value="value">
  <span contenteditable="false" class="demo-mention-view"
    ><b>{{ value }}</b>
  </span>
</ng-template>

<ng-template #hashtagItemTemplate let-value let-active="active">
  <div class="suggestion-item" [class.selected]="active">
    <b>{{ value }}</b>
  </div>
</ng-template>

<ng-template #hashtagSelectionTemplate let-value="value">
  <app-hashtag> {{ value?.name ? "#" + value?.name : "" }} </app-hashtag>
</ng-template>

<h2>Recruitler.com's Rich Text Editor</h2>
<button (click)="onBtnClick('emoji')">Emoji</button>
<button (click)="onBtnClick('bold')">Bold</button>
<button (click)="onBtnClick('italic')">Italic</button>
<button (click)="onBtnClick('heading1')">Heading1</button>
<button (click)="toggleDisabled()">
  {{ this.content.enabled ? "enable" : "disable" }}
</button>
<button (click)="onBtnClick('code')">Code</button>
<button (click)="onBtnClick('image')">Image</button>

<div class="demo-editor compose__editable">
  <recruitler-rte
    #editor
    [theme]="currentTheme"
    [imgUrl]="imgUrl"
    [imgAccountId]="imgAccountId"
    [variant]="variant"
    [hashtagItemTemplate]="hashtagItemTemplate"
    [hashtagTemplate]="hashtagSelectionTemplate"
    (hashtagRequest)="hashtagSearch($event)"
    [hashtagResults]="hashtagResults"
    (count)="count($event)"
    (uploadImageRequest)="uploadImageRequest($event)"
    [uploadImageResult]="uploadImageResult"
    (linkRequest)="useLinks($event)"
    [formControl]="content"
    [placeholder]="'Type something...'"
  />
  <p class="count" [ngClass]="{ warning: chars < 10, error: chars < 0 }">
    {{ chars }}
  </p>
</div>

<!-- OUTPUT EXAMPLE -->
<div class="output">
  <div class="header">
    <p><strong>Raw output</strong></p>
  </div>
  <div class="raw-output">{{ content.value }}</div>

  <div class="header">
    <p><strong>With highlightJS</strong></p>
  </div>
  <div id="output" [innerHTML]="content.value"></div>
</div>
